body {
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  margin-top: 11px;
  margin-bottom: -22px;
}

#mainform {
  margin-top: 30px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px blueviolet;
  border-radius: 12px;
}

#userName,
#password,
#email,
#mobile {
  margin: 5px;
}

#candi1,
#candi2,
#candi3,
#candi4 {
  margin: 15px;
}

#butttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#inner {
  display: table;
  margin: 0 auto;
  margin-top: 5px;
}

#loginbtn {
  background-color: green;
  color: white;
  align-self: center;
}

#registerbtn {
  background-color: yellow;
  color: black;
  align-self: center;
}

.label1 {
  margin: 25px;
}

.inp1 {
  margin-left: 400px;
}
